body {
  font-family: sans-serif;
}

#video-list {
  font-size: 17;
  border-spacing: 0;
  border-collapse: collapse;
  width: 1200px;
  border: 2px solid black;
}

#video-list tr:first-of-type {
  color: white;
  background-color: black;
}

#video-list td {
  padding: 3px 5px;
  cursor: pointer;
  user-select: none;
  border: 1px solid black;
}

#video-list tr:not(:first-of-type):hover {
  background-color: skyblue;
}

input {
  font-size: 17;
}