<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="videodbConnectionString"
         connectionString="Data Source=den1.mssql7.gear.host;Initial Catalog=videodb;Persist Security Info=True;User ID=videodb;Password=Gf9W1W_23l!o"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>